.custom-card {
  margin: 10px;
  max-width: 300px;
  transition: transform 0.3s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.expanded {
  transform: scale(1.05);
}

.review {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.user-rating {
  font-weight: bold;
}

.star-rating {
  display: flex;
  justify-content: flex-end;
}

.book-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #0056b3;
}
